<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TotalPack.Efectivo.TPpagoL2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="TPpagoL2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <TotalPack.Efectivo.TPpagoL2.Properties.Settings>
        <setting name="NombrePipe" serializeAs="String">
            <value>totalpago2</value>
        </setting>
        <setting name="DireccionPuertaPlaca" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="BaudiosArduino" serializeAs="String">
            <value>9600</value>
        </setting>
        <setting name="HabilitarDtrArduino" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="PinEntradaArduino" serializeAs="String">
            <value>3</value>
        </setting>
        <setting name="PinSalidaArduino" serializeAs="String">
            <value>2</value>
        </setting>
        <setting name="DBPort" serializeAs="String">
            <value>5432</value>
        </setting>
        <setting name="DBUser" serializeAs="String">
            <value>TpackP</value>
        </setting>
        <setting name="DBPass" serializeAs="String">
            <value>tpackp</value>
        </setting>
        <setting name="IdUsr" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="TickEstSerie" serializeAs="String">
            <value>120</value>
        </setting>
        <setting name="SimularVueltoInsuficiente" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="PuertoMaquinasEfectivo" serializeAs="String">
            <value>COM4</value>
        </setting>
        <setting name="SimulaPago" serializeAs="String">
            <value>False</value>
        </setting>
        <setting name="PuertoArduino" serializeAs="String">
            <value>COM10</value>
        </setting>
        <setting name="DBHost" serializeAs="String">
            <value>localhost</value>
        </setting>
        <setting name="tiempoRegresivo" serializeAs="String">
            <value>00:00:20</value>
        </setting>
        <setting name="activarVariacionRegresiva" serializeAs="String">
            <value>00:00:10</value>
        </setting>
        <setting name="conteoPolling" serializeAs="String">
            <value>10</value>
        </setting>
        <setting name="MontoSimulaPago" serializeAs="String">
            <value>2500</value>
        </setting>
        <setting name="DBNombre" serializeAs="String">
            <value>Pago3</value>
        </setting>
        <setting name="milReciclable" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="dosMReciclable" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="cincoMReciclable" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="diezMReciclable" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="veinteMReciclable" serializeAs="String">
            <value>True</value>
        </setting>
        <setting name="estadoCorriente" serializeAs="String">
            <value>5000</value>
        </setting>
        <setting name="timerPolling" serializeAs="String">
            <value>500</value>
        </setting>
        <setting name="timerPolling2" serializeAs="String">
            <value>500</value>
        </setting>
    </TotalPack.Efectivo.TPpagoL2.Properties.Settings>
    <TPpagoL2.Properties.Settings>
      <setting name="NombrePipe" serializeAs="String">
        <value>totalpago2</value>
      </setting>
    </TPpagoL2.Properties.Settings>
  </userSettings>
</configuration>